@{ 
    ViewBag.Title = "Index";
}

<p class="btn btn-info">There is nothing here! Navigate <a href="/ProductCategories/List">elsewhere</a></p><br />
<p class="btn btn-danger">There is nothing here! Navigate <a href="ProductCategories/List">elsewhere without front slash</a></p><br />
<p class="btn btn-danger">There is nothing here! Navigate <a href="~/Views/ProductCategories/List.cshtml">elsewhere with full path with ~</a></p><br />
<p class="btn btn-info">There is nothing here! Navigate <a href="List">elsewhere with List only</a></p><br />
<p class="btn btn-info">There is nothing here! Navigate <a href="./List">elsewhere with ./List</a></p><br />