@using WebEShop.Models;
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<ul>
    <li>Id, Title, Description, Products Count</li>
    @{
        foreach (ProductCategory pc in ViewBag.ProductCategories)
        {

            <li>@pc.Id, @pc.Title, @pc.Description, @pc.Products.Count()</li>
        }
    }
</ul>

